
	<div class="dashboard-header">Dashboard - <span id="app_name">{app_name}</span></div>

	<div id="dashboard-leftWrapper">
		<br />
			
		<div id="dashboard-tabs">
			<a href="#" title="View User Information" id="users-top10">Users</a><a href="#" title="View Content Information" id="content-top10">Content</a>
		</div>
		<hr class="light">
	
		<br /><br />
		
		<div id="dashboard-top10"><div style="text-align:center;font-size:20px;">Loading...</div></div>
		<hr class="light">
	</div>
	
	
	<div id="dashboard-rightWrapper">
		<h1>Popularity</h1><div class="clearBoth"></div>
		<div id="download-popularity">
			<h2 class="popularity">Downloads</h2>
			<div class="clearBoth"></div>
			<ol>
				[top_downloads]
			</ol>
		</div>
		
		<div id="photo-popularity">
			<h2 class="popularity">Photos</h2>
			<div class="clearBoth"></div>
			<ol>
				[top_photos]
			</ol>
		</div>
		
		<div id="video-popularity">
			<h2 class="popularity">Videos</h2>
			<div class="clearBoth"></div>
			<ol>
				[top_videos]
			</ol>
		</div>
		
		
	</div>

	<div class="clearBoth"></div>

	<div class="dashboard-header"></div>

	
	



