Options +SymLinksIfOwnerMatch
IndexIgnore .*

ErrorDocument 400 application/public/index.php?args=error/400/
ErrorDocument 402 application/public/index.php?args=error/402/
ErrorDocument 404 application/public/index.php?args=error/404/
ErrorDocument 403 application/public/index.php?args=error/403/

<IfModule mod_security.c>
SecFilterEngine Off
SecFilterScanPOST Off
</IfModule>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule (.*) application/public/index.php?args=$1
</IfModule>