
	#calendar {
		margin-left:86px;
		margin-top:15px;
		width:575px;
	}
	
 	#next-month,  div#previous-month {
		float:right;
		margin-top:10px;
	}
	
	#calendar .time {
		font-size:11px;
	}
	
	#calendar h1 {
		float:right;
		width:87%;
		text-align:center;
		font-size:22px;
	}

	#calendar table {
		border-collapse: separate;
		border: 1px solid #9DABCE;
		border-width: 0px 0px 1px 1px;
		margin: 10px auto;
		font-size: 20px;
	}
	#calendar td, #calendar th {
		width: 81px;
		height: 81px;
		text-align: center;
	/*	vertical-align: middle;		*/
		background: url(../images/calendar/cells.png);
		color: #444;
		position: relative;
	}
	
	#calendar th {
		height: 30px;
		font-weight: bold;
		font-size: 14px;
	}
	
	#calendar td:hover, #calendar th:hover {
		background-position: 0px -81px;
		color: #222;
	}
	
	#calendar td.date_has_event {
		background-position: 162px 0px;
		color: white;
	}
	
	#calendar td.date_has_event:hover {
		background-position: 162px -81px;
	}
	
	#calendar td.padding {
		background: url(../images/calendar/calpad.jpg);
	}
	
	#calendar td.today {
		background-position: 81px 0px;
		color: white;
	}
	
	#calendar td.today:hover {
		background-position: 81px -81px;
	}
	
	
	
	
	.events {
		position: relative;
	}
	
	.events ul {
		text-align: left;
		position: absolute;
		display: none;
		z-index: 1000;
		padding: 15px;
/*		background: #E7ECF2 url(../images/calendar/popup.png) no-repeat;	*/
		background: #E7ECF2;
		color: white;
		border: 1px solid white;
		font-size: 15px;
		width: 300px;
		-moz-border-radius: 3px;
		-khtml-border-radius: 3px;
		-webkit-border-radius: 3px;
		-border-radius: 3px;
		list-style: none;
		color: #444444;
		-webkit-box-shadow: 0px 8px 8px #333;
	}
	
	.events li {
		padding-bottom: 5px;
	}
	
	.events li span {
		display: block;
		font-size: 12px;
		text-align: justify;
		color: #555;
	}
	
	.events li span.title {
		font-weight: bold;
		color: #222;
	}
	
	.events span.title a:visited, .events span.title a {
		color:#5aa4ed;
	}
	
	.events span.title a:hover {
		color:#0a78e3;
	}
	
	#innerCalendar {
		float:left;
		width:567px;
	}
	
	#drawer {
		float:left;
		width:160px;
		height:43em;
		margin-top:7em;
		background:#fff;
		border-top: 2px solid #787878;
		border-right: 2px solid #787878;
		border-bottom: 2px solid #787878;
		
	}
	
	#drawer span#title {
		text-align:center;
		display:block;
		font-size:14px;
		font-weight:bold;
	}
	
	#drawer #drawerContent {
		overflow:auto;
		height:87%;
		padding-top:15px;
	}
	
	div#titleWrapper {
		height:20px;
		line-height:20px;
		margin-top:5px;
	}
	
	div#drawerContent ul#timeListing {
		
		margin-left:10px;
		
	}
	
	div#drawer div#toolbar {
		height:20px;
		line-height:20px;
	}
	
	div#drawer div#toolbar div.inner {
		padding-left:5px;
	}
	
	div#drawerContent ul#timeListing li {
		margin-bottom:5px;
		line-height:18px;
	}
	
	div#drawer div#toolbar a#addTime {
		background:url(../images/plus.png) top left no-repeat;
		padding-left:18px;
		display:block;
		line-height:16px;
	}
	
	div#drawerContent li a.removeTime {
		background:url(../images/stop.png) top right no-repeat;
		padding-left:18px;
		margin-left:10px;
		display:block;
		float:left;
		
	}
	
	div#drawerContent span.display {
		float:left;
	}