<div class="titleTabs"><h1>{table title}</h1><br clear="all" /></div>
<div class="contentTitleBar titleBar"><b class="btop"></b>
	<div>{table subtitle}</div>
</div>
<div class="nonTableContent">
 	<form id="{form_id}" action="{form_link}" method="post" enctype="multipart/form-data">
		<div class="col3col">
			<div class="floatLeft"><p class="singleText"><strong>DATA File (.xls):</strong><br />[xls_path]</p><br /></div>
			<div class="clearBoth"></div>	    
		</div>
		<div class="clearBoth"></div><br />
	</form>
</div>
<div class="contentBottomBar"><b class="bbot"><b></b></b></div>
<div class="floatLeft" align="center"><a href="#" onclick="$('#{form_id}').submit();" class="buttons2">{button_text}</a></div>
<br clear="all" />
