 <div class="titleTabs">
  	<h1>{table title}</h1>
	    <div class="contentTabCap"></div><div class="contentTab"><a href="index.php?pid=1" class="tabText">Manage Navigation</a></div>
		<div class="contentTabCap"></div><div class="contentTab"><a href="index.php?pid=3" class="tabAdd">New Navigation</a></div>
	
	    <br clear="all" />
	</div>
	<div class="contentTitleBar titleBar"><b class="btop"><b></b></b>
	</div>
	
	<div class="nonTableContent">
	
	<form id="profile" action="repost.php?action=profile{key}{pid}{key_temp}" method="post">
	<input type="hidden" name="field_list" value="{field_list}">
	<input type="hidden" name="table" value="{table}">
	<div class="col3col">
       	<div class="floatLeft"><strong>Title:</strong><br />[name]</div>
       	<div class="floatLeft" style="margin-left:10px"><strong>iPhone Title:</strong><br />[iPhone_title]</div>
       	<div class="clearBoth"></div><br />
    </div>
	<div class="col3col">
		<div class="floatLeft"><strong>File:</strong><br />[page]</div>
	    <div class="floatLeft" style="margin-left:10px"><strong>Order:</strong><br />[order_num]</div>
        <div class="floatLeft" style="margin-left:10px"><strong>Parent:</strong><br />[parent_id]</div>
	    <div class="floatLeft" style="margin-left:10px"><strong>Display:</strong><br />[display]</div>
    	<div class="floatLeft" style="margin-left:10px"><strong>iPhone:</strong><br />[device_type]</div>
		<br /><br /><br />
		<div class="col3col">
		    <div class="floatLeft"><strong>Min Level:</strong><br />[min_lvl]</div>
	        <div class="floatLeft" style="margin-left:10px"><strong>Max Level:</strong><br />[max_lvl]</div>
		</div>
		<div class="clearBoth"></div><br />
    </div>
	
	
	
    <div class="clearBoth"></div>
    </form>
</div>
<div class="contentBottomBar"><b class="bbot"><b></b></b></div>
<div class="floatLeft" align="center"><a href="#" onclick="$('#profile').submit();" class="buttons2">{button_text}</a></div>
<br clear="all" />

