 <div class="titleTabs">
  	<h1>{table title}</h1>
		<div class="contentTabCap"></div><div class="contentTab"><a href="index.php?pid=55" class="tabText">Manage Settings</a></div>
		<div class="contentTabCap"></div><div class="contentTab"><a href="index.php?pid=59" class="tabAdd">New Setting</a></div>
	    <br clear="all" />
	</div>
	<div class="contentTitleBar titleBar"><b class="btop"><b></b></b>
	</div>
	
	<div class="nonTableContent">
	
	<form id="profile" action="repost.php?action=profile{key}{pid}{key_temp}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="field_list" value="{field_list}">
	<input type="hidden" name="table" value="{table}">
	[content_type_id]
	[content_type_name]
	<div class="col3col">
       	<div class="floatLeft"><strong>Setting Name:</strong><br />[setting_name]</div>
       	<div class="clearBoth"></div><br />
		<div class="floatLeft"><strong>Date Added:</strong><br />[date_added]</div>
        <div class="floatLeft" style="margin-left:25px;"><strong>Last Updated:</strong><br />[last_updated]</div>
       	<div class="clearBoth"></div><br />
    </div>
    <div class="clearBoth"></div>

	<br /><br />
	<div class="col3col">
	    <div class="floatLeft"><strong>Setting Value:</strong><br />[setting_value]</div>
    </div>
    <div class="clearBoth"></div>

	<br /><br />
	<div class="col3col">
	    <div class="floatLeft"><strong>Notes: (Admin Use Only)</strong><br />[setting_notes]</div>
    </div>
    <div class="clearBoth"></div>
	<br /><br />

    </form>
</div>
<div class="contentBottomBar"><b class="bbot"><b></b></b></div>
<div class="floatLeft" align="center"><a href="#" onclick="$('#profile').submit();" class="buttons2">{button_text}</a></div>
<br clear="all" />

