@charset "UTF-8";
/* CSS Document */

table#product-offering a, table#product-offering a:active, table#product-offering a:visited {
	color:#797979;
	text-decoration:none;
	text-transform:uppercase;
}

ul.iphone-list {
	margin:0;
	padding:15px;
	width:300px;
	background:#A9A9A9;
	height:300px;
	overflow:auto;
}

ul.iphone-list li {
	padding:8px 4px;
	cursor:pointer;
	width:277px;
	background:transparent url(../images/tableRow.png) no-repeat;
	margin-bottom:4px;
}

ul.iphone-list li span.display {
	float:left;
	width:80%;
	padding-top:4px;
	font-size:20px;
}

div.continue-arrow a {
	margin:4px 20px 0 0;
	background:transparent url(../images/tableRow-arrow.png) no-repeat;
	width:26px;
	height:26px;
	display:block;
}

div.continue-arrow a:active, div.continue-arrow a.active {
	background:transparent url(../images/tableRow-arrow-on.png) no-repeat;
}

.jeip-editfield {
	margin:3px 0px;
	width:75%;
}

.create-new {
	background:#DEDEDE;
	padding:15px;
	width:300px;
}




#task-switcher {
	background:#f3f2f2;
	float:right;
	margin:45px 28px 0px 0px;
	width:229px;
	padding:10px;
}

#task-switcher a, #task-switcher a:visited, #task-switcher a:link, #task-switcher a:active, #task-switcher a:hover {
	color:#333;
	font-size:12px;
	display:block;
	float:left;
}

#task-switcher div.separator {
	float:left;
	margin:0 10px 0 10px;
	height:30px;
	width:0px;
	border-left:1px solid #333;
	border-right:1px solid #999;
}

a#iphone {
	background-image:url(../images/iphone-indicator.png);
	background-repeat:no-repeat;
	padding:11px 0 0 20px;
	height:23px;
}

a#iphone.current-task {
	background-position:0 -31px;
}

a#site {
	background-image:url(../images/display-indicator.png);
	background-repeat:no-repeat;
	padding:5px 0 0 27px;
	height:18px;
	margin-top:5px;
}

a#site.current-task {
	background-position:0 -25px;
}






#meta-area {
	position:absolute;
	right:28px;
	top:0;
	width:250px;
	height:25px;
	padding:10px 0 0 0px;
	color:#FFF;
	font-size:12px;
	text-align:center;
	background-image:url(../images/meta-area.png);
	background-repeat:no-repeat;
}

#meta-area a, #meta-area a:visited, #meta-area a:link, #meta-area a:active, #meta-area a:hover {
	color:#FFF;
	font-size:12px;
	text-transform:uppercase;
}