 <div class="titleTabs">
  	<h1>Edit Homepage</h1>
	    <br clear="all" />
	</div>
	<div class="contentTitleBar titleBar"><b class="btop"><b></b></b>
	</div>
	
	<div class="nonTableContent">
	
	<form id="profile" action="{form_link}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="field_list" value="{field_list}">
	<input type="hidden" name="table" value="{table}">
	<input type="hidden" name="data_key" value="{data_key}">
	[content_type_id]
	[content_type_name]
	<div class="col3col">
       	<div class="floatLeft"><strong>Application Title:</strong><br />[title]</div>
       	<div class="clearBoth"></div><br />
		<!-- <div class="floatLeft"><strong>Date Added:</strong><br />[date_added]</div> -->
        <div class="floatLeft"><strong>Last Updated:</strong><br />[last_updated]</div>
       	<!-- <div class="clearBoth"></div><br /> -->
    </div>
    <div class="clearBoth"></div>
	
	<br /><br />
	<div class="col3col">
	    <div class="floatLeft"><strong>Image 1 ({width}x{height}) {image1} {remove_image1}:</strong><br />[image1]</div>
	    <div class="clearBoth"></div><br />
	    <div class="floatLeft"><strong>Image 2 ({middle_width}x{height}) {image2} {remove_image2}:</strong><br />[image2]</div>
	    <div class="clearBoth"></div><br />
	    <div class="floatLeft"><strong>Image 3 ({width}x{height}) {image3} {remove_image3}:</strong><br />[image3]</div>
	    <div class="clearBoth"></div><br />
    </div>
    <div class="clearBoth"></div>

	<br /><br />
	<div class="col3col">
	    <div class="floatLeft"><strong>Text:</strong><br />[text]</div>
    </div>
    <div class="clearBoth"></div>

    </form>
</div>
<div class="contentBottomBar"><b class="bbot"><b></b></b></div>
<div class="floatLeft" align="center"><a href="#" onclick="$('#profile').submit();" class="buttons2">Save Homepage</a></div>
<br clear="all" />

