<div class="titleTabs">
	<h1>{table title}</h1>
	<div class="contentTabCap"></div><div class="contentTab"><a href="{manage}" class="tabText">Manage {TYPE}s</a></div>
	<div class="contentTabCap"></div><div class="contentTab"><a href="{new}" class="tabAdd">New {TYPE}</a></div>
	<br clear="all" />
   </div>
<div class="contentTitleBar titleBar"><b class="btop"><b></b></b>
	<div></div>
</div>

<div class="nonTableContent">

 	<form id="profile" action="{form_link}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="field_list" value="{field_list}">
	<input type="hidden" name="table" value="{table}">
	<input type="hidden" name="data_key" value="{data_key}">
	[project_id]
	[owner_id]
	
   	<div class="col3col">
		 <strong>Photo Name:</strong><br />[image_title]<br />
		<div class="clearBoth"></div><br />
    </div>
    <div class="clearBoth"></div><br />

	<div class="col3col">
		<div class="floatLeft"><strong>Default Photo for Phase?:</strong>[default_image]<br /></div>
		<div class="floatLeft" style="margin-left:25px;"><strong>Photo Phase:</strong> [image_phase]<br /></div>
       	<div class="floatLeft" style="margin-left:25px;"><strong>Date Created:</strong> [date_added]<br /></div>
	   	<div class="floatLeft" style="margin-left:25px;"><strong>Date Modified:</strong> [last_updated]<br /></div>
	    <div class="clearBoth"></div><br />  
    </div>
    <div class="clearBoth"></div><br />

	<div class="col3col">
       	<div class="floatLeft"><p class="singleText"><strong>Photo File: {image_path} {remove_image_path}</strong><br />[image_path]</p><br /></div>
	    <div class="clearBoth"></div>	    
    </div>
    <div class="clearBoth"></div><br />


	<div class="col3col">
    	<p><strong>Description:</strong><br />
        [image_description]</p><br />
    </div>	
    <div class="clearBoth"></div>

	<br />
	<div class="col3col">
    	<p><strong>Notes (Internal Use Only):</strong><br />
        [notes]</p><br />
    </div>	
    <div class="clearBoth"></div>

	</form>
</div>

<div class="contentBottomBar"><b class="bbot"><b></b></b></div>
<div class="floatLeft" align="center"><a href="#" onclick="$('#profile').submit();" class="buttons2">{button_text}</a></div>
<br clear="all" />
