/* 
	The login page box
*/

#smallWrap {
	width:55%;
	margin-top:50px;
	margin-left:20%;
}

.greyBox {
	background-color:#eaeaea;
}

.logInBox {
	padding:10px 30px;
	/*height:100px;*/
}

.logInBox input {
	color:#999999;
	font-size:11px;
	padding:3px 0;
	background-color:#FFFFFF;
	border:1px solid #cccccc;
	width:212px;
	margin-bottom:5px;
}
.logInBox div {
/*	float:left;*/
	margin:2px;
}

