 <div class="titleTabs">
  	<h1>{table title}</h1>
		<div class="contentTabCap"></div><div class="contentTab"><a href="{manage}" class="tabText">Manage {TYPE}s</a></div>
		<div class="contentTabCap"></div><div class="contentTab"><a href="{new}" class="tabAdd">New {TYPE}</a></div>
	    <br clear="all" />
	</div>
	<div class="contentTitleBar titleBar"><b class="btop"><b></b></b>
	</div>
	
	<div class="nonTableContent">
	
	<form id="profile" action="{form_link}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="field_list" value="{field_list}">
	<input type="hidden" name="table" value="{table}">
	<input type="hidden" name="data_key" value="{data_key}">
	<div class="col3col">
       	<div class="floatLeft"><strong>Application Name:</strong><br />[app_name]</div>
       	<div class="clearBoth"></div><br />
		[status][active][/status]
		<div class="floatLeft" style="padding-right:15px;"><strong>XML Version:</strong><br />[xml_version]</div>
		<div class="floatLeft"><strong>App Version:</strong><br />[app_version]</div>
       	<div class="clearBoth"></div><br />
    </div>

	<div class="col3col singleText">
	    <div class="floatLeft"><strong>Date Added:</strong><br />[date_added]</div>
       	<div class="clearBoth"></div><br />
        <div class="floatLeft"><strong>Last Updated:</strong><br />[last_updated]</div>
    </div>
    <div class="clearBoth"></div>

	<div class="col3col">
       	<div class="floatLeft"><strong>Application AIR File:</strong> {app_file} <!-- {remove_app_file} --><br />[app_file]</div>
       	<div class="clearBoth"></div><br />
    </div>
    <div class="clearBoth"></div>


	<br /><br />
	<div class="col3col">
	    <div class="floatLeft"><strong>Release Notes:</strong><br />[app_notes]</div>
    </div>
    <div class="clearBoth"></div>
	<br /><br />

    </form>
</div>
<div class="contentBottomBar"><b class="bbot"><b></b></b></div>
<div class="floatLeft" align="center"><a href="#" onclick="$('#profile').submit();" class="buttons2">{button_text}</a></div>
<br clear="all" />

