	<div class="titleTabs">
		<h1>{table title}</h1>
		<div class="contentTabCap"></div><div class="contentTab"><a href="{manage}" class="tabText">Manage {TYPE}s</a></div>
		<div class="contentTabCap"></div><div class="contentTab"><a href="{new}" class="tabAdd">New {TYPE}</a></div>
		<br clear="all" />
       </div>
	<div class="contentTitleBar titleBar"><b class="btop"><b></b></b>
		<div></div>
    </div>
	
	<div class="nonTableContent">

     	<form id="profile" action="{form_link}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="field_list" value="{field_list}">
		<input type="hidden" name="table" value="{table}">
		<input type="hidden" name="data_key" value="{data_key}">
       	<div class="col3col">
			<div class="floatLeft"><strong>First Name:</strong><br />[user_first_name]</div>
			<div class="floatLeft"><strong>M.I.</strong><br />[user_middle_name]</div>
			<br clear="all" /><br />
           	<strong>Last Name:</strong><br />[user_last_name]<br /><br />
			<strong>Phone Number:</strong><br />[user_phone_number]<br /><br />
           	<strong>Fax Number:</strong><br />[user_fax_number]<br /><br />
           	<strong>Address:</strong><br />[user_address_line_1]<br />
			[user_address_line_2]<br />
			<div class="floatLeft"><strong>City:</strong><br />[user_city]</div>
			<div class="floatLeft state"><strong>State</strong><br />[user_state]</div>
			<div class="floatLeft" ><strong>Zip</strong><br />[user_zip]</div>
			<div class="clearBoth"></div>
		</div>
       	<div class="col3col">
           	<strong>User Name:</strong><br />[user_username]<br /><br />
           	<strong>Password:</strong> (<em>Type a new one to change</em>)<br />[user_password]<br /><br />
           	<strong>Primary Email:</strong><br />[user_primary_email]<br /><br />
           	<strong>Secondary Email:</strong><br />[user_secondary_email]<br /><br />
			<p><strong>Account Level:</strong><br />
			[user_level]</p><br />
		</div>
       	<div class="col3col">
			<p><strong>Date Added:</strong><br />[date_added]</p><br /><br />
			<p><strong>Last Modified:</strong><br />[last_updated]</p><br /><br />
			<strong>Notes:</strong><br />[user_notes]<br /><br />
		</div>
		<div class="clearBoth"></div>
		</form>
	</div>
	
	<div class="contentBottomBar"><b class="bbot"><b></b></b></div>
    <div class="floatLeft" align="center"><a href="#" onclick="$('#profile').submit();" class="buttons2">{button_text}</a></div>
    <br clear="all" />
   